.sidebar-top {
	a {
		font-weight: 200;
		color: rgba(0, 0, 0, 100);
		text-decoration: none;
		&:hover {
			color: #30535e;
			text-decoration: none;
		}
	}
	li {
		padding: 4px;
	}
}

.sidebar-bottom {
	a {
		font-weight: 600;
		color: rgba(0, 0, 0, 100);
		text-decoration: none;
		&:hover {
			color: #30535e;
			text-decoration: none;
		}
	}
}
