.sidebar-top {
	a {
		font-weight: 200;
		color: rgba(0, 0, 0, 100);
		text-decoration: none;
		&:hover {
			color: rgba(150, 150, 150, 100);
			text-decoration: none;
		}
	}
	li {
		padding: 4px;
	}
}

.sidebar-bottom {
	a {
		font-weight: 600;
		color: rgba(0, 0, 0, 100);
		text-decoration: none;
		&:hover {
			color: rgba(150, 150, 150, 100);
			text-decoration: none;
		}
	}
}

.current-cat a {
	font-weight: bolder;
}

.current-cat-ancestor a {
	font-weight: bolder;
}

.current_page_item a {
	font-weight: bolder;
}