.top-menu-wrapper {
	background-color: #30535e;
}

.nav-list {
	li {
		text-align: center;
	}
	a {
		font-weight: 200;
		color: #cdcdcd;
		&:hover {
			color: #fcfcfc;
			text-decoration: none;
		}
	}
}

.toggler {
	-webkit-transition: .25s;
	transition: .25s;
	&:hover {
		color: #30535e;
		text-decoration: none;
	}
}