.top-menu-wrapper {
	z-index: -1;
	padding: 18px;
}

.mobile-logo {
	width: 100%;
}

.nav-item {
	li {
		padding: 4px;
	}
	a {
		line-height: 2.4em;
		font-size: 1.2em;
	}
}

.cat-item {
	li {
		padding: 4px;
	}
	a {
		line-height: 2.4em;
		font-size: 1.2em;
	}
}

.page_item {
	li {
		padding: 4px;
	}
	a {
		line-height: 2.4em;
		font-size: 1.2em;
	}
}