.sidebar-wrapper {
	height: 100vh;
	min-width: 160px;
	max-width: 200px;
}

.logo {
	margin-top: 16px;
	margin-bottom: 12px;
	width: 152px;
}

.sidebar-top {
	a {
		line-height: 1.4em !important;
	}
}

.sidebar-bottom {
	li {
		line-height: 2.2em;
		padding: 4px;
	}
}

.galleries {
	font-size: 1.6em;
	margin-bottom: 22px;
}

.publicity {
	font-size: .8em;
	li {
		line-height: 1.2em;
	}
}