.sidebar-wrapper {
	height: 100vh;
	min-width: 140px;
	max-width: 200px;
}

.logo {
	margin-bottom: 28px;
}

.sidebar-top {
	li {
		line-height: 1.4em;
	}
}

.sidebar-bottom {
	li {
		line-height: 2.2em;
	}
}

.galleries {
	font-size: 1.6em;
	margin-bottom: 22px;
}

.publicity {
	font-size: .8em;
}