.slidebox{
  height: 100%;
}

.slideshow{
  display: none;
  margin: 0 auto;
  max-height: 80vh;
  max-width: 80vw;
  position: initial !important;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

.grid-item {
  float: left;
  height: auto;
  width: 80%;
  margin: 2px;
  margin-left: 100px;
  display: block !important;
}


.grid-item--width3{
  width: 80%;

}

.slideshow_info_display{
  display: none !important;
  position: fixed !important;
  left: 12px !important;
  top: 2px !important;
  z-index: 2;
  width: 100px;
  font-size: 12px;
}

.gallery{
 z-index: 2;
 position: absolute;
 top: 0px;
 left: 40%;
 width: 20%;
 height: inherit;
 cursor: n-resize;
}

.next{
  background-color: transparent;
  z-index: 1;
  height: inherit;
  width: 40%;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: e-resize;
}

.prev{
  background-color: transparent;
  z-index: 1;
  height: inherit;
  width: 40%;
  position: absolute;
  cursor: w-resize;
  top: 0px;
  left: 0px;
}
@media (min-width: 700px) {
    .grid-item{
    width: 40%;
    margin-left: 10px;
    animation: fadeIn
  }

  .slideshow_info_display{
    left: -160px !important;
    top: 300px !important;

  }
  .grid-item--width3{
    width: 80%;
  }
}