.cv {
	font-family: "Titillium Web", sans;
	font-size: 10px;
	line-height: 1.4em;
	&.name {
		text-transform: uppercase;
		font-size: 2.2em;
		font-weight: 900;
		margin-bottom: 20px;
	}
	&.date {
		letter-spacing: 2px;
		font-size: 1.2em;
	}
	&.title {
		font-weight: 800;
		font-size: 1.2em;
	}
}

.contact-wrapper {
	margin-bottom: 22px;
}

.cat-head {
	font-size: 1.4em;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.cat-wrapper {
	margin-bottom: 8px;
}