.titillium {
	font-family: "Titillium Web", sans;
}

.josefin {
	font-family: "Josefin Sans", sans;
}

a {
	color: rgba(0, 0, 0, 100);
	&:hover {
		color: rgba(150, 150, 150, 100);
		text-decoration: none;
	}
}

.bold {
	font-weight: 800;
}

.light {
	font-weight: 200;
}

.upcase {
	text-transform: uppercase;
}
// watch me!