.slidebox{
  position: relative;
  height: 100%;
  width: 100%;
}

.slideshow{
  display: none;
  margin: 0 auto;
  align-self: center;
  max-height: 100%;
  max-width: 100%;
}

.grid-item {
  float: left;
  height: auto;
  width: 40%;
  margin: 2px;
  display: block !important;
}


.grid-item--height3{
  width: 80%;

}

.slideshow_info_display{
  display: none;
  position: absolute;
  left: 10px;
  bottom: 50px;
  z-index: 2;
  width: 100px;
  font-size: 12px;
}

.gallery{
 z-index: 2;
 position: absolute;
 top: 0px;
 left: 40%;
 width: 20%;
 height: inherit;
 cursor: n-resize;
}

.next{
  background-color: transparent;
  z-index: 1;
  height: inherit;
  width: 40%;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: e-resize;
}

.prev{
  background-color: transparent;
  z-index: 1;
  height: inherit;
  width: 40%;
  position: absolute;
  cursor: w-resize;
  top: 0px;
  left: 0px;
}